<h2 id="trip-name">Your trip to <%= request.city %> <br>
  <%= request.start_date %> to <%= request.end_date %></h2>

  <h3>Information about your destination:</h3>

  <div class="country-info flex-row">
    <img src="<%= country.flag_url %>" alt="flag of <%= country.country %>">
    <ul class="country-info-list">
      <li><b>Country: </b><%= country.country %></li>
      <li><b>Capital: </b><%= country.capital %> </li>
      <li><b>Population: </b><%= country.population %></li>
      <li><b>Borders: </b><%= country.borders %></li>
      <li><b>Currencies: </b><%= country.currencies %></li>
      <li><b>Languages: </b><%= country.languages %></li>
    </ul>
  </div>

  <h3>For the dates of your trip, we expect:</h3>
  <ul>
    <% weather.forEach( day => { %>
      <li><img class="icon" src="<%= day.icon_url %>" alt="weather icon"> <%= day.day %>: <%= day.summary %> With the average temperature of: <%= day.temperature %> &deg;F</li>
    <% }) %>
  </ul>

  <h3>For your trip we suggest you to bring:</h3>
<ul class="items">
  <% items.forEach( item => { %>
  <li><input type="checkbox"> <%= item %></li>
  <% }) %>
</ul>