<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <header class="flex-row">
    <%- include('../partials/header.ejs') %>
  </header>
  <main class="flex-column">
      <section class="result main-content flex-column">
        <%- include('../partials/partial-result.ejs', {
          weather: weather,
          country: country,
          request: request,
          items: items
        }) %>
      <button class="button open-modal">SAVE TRIP</button>
      </section>
      <section class="modal">
        <div class="modal-content">
          <form class="flex-column" action="/results" method="POST">
            <label for="trip-name">Name of your trip</label>
            <input class="input" type="text" name="trip-name" placeholder="Trip to <%= country.country %>">
          </form>
        </div>
      </section>
  </main>
  <footer class="flex-column">
    <%- include('../partials/footer.ejs') %>
    <script src="../js/modal.js"></script>
  </footer>
</body>
</html>