<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <header class="flex-row">
    <%- include('../partials/header.ejs') %>
  </header>
  <main class="flex-column">
<<<<<<< HEAD
    <section class="result main-content flex-column">
      <h2>Your trip to <%= request.city %> <br>
        <%= request.start_date %> - <%= request.end_date %></h2>

      <h3>More information about your destination:</h3>

      <div class="country-info flex-column">
        <img src="<%= country.flag_url %>" alt="flag of <%= country.country %>">
        <ul>
          <li><b>Country:</b> <%= country.country %></li>
          <li><b>Capital:</b> <%= country.capital %> </li>
          <li><b>Population:</b> <%= country.population %></li>
          <li><b>Borders:</b> <% country.borders.forEach( border => { %>
            <%= border %>,
            <% }) %> </li>
          <li><b>Currencies:</b> <% country.currencies.forEach( currencie => { %>
            <%= currencie %>,
            <% }) %> </li>
          <li><b>Languages:</b> <% country.languages.forEach( language => { %>
            <%= language %>,
            <% }) %> </li>
        </ul>

        <h3>For your trip we suggest you to bring:</h3>
        <ul class="items">
          <% items.forEach( item => { %>
          <li><input type="checkbox"> <%= item %></li>
          <% }) %>
        </ul>

    </section>
=======
      <section class="result main-content flex-column">
        <%- include('../partials/partial-result.ejs', {
          weather: weather,
          country: country,
          request: request,
          items: items
        }) %>
      <button class="button open-modal">SAVE TRIP</button>
      </section>
      <section class="modal">
        <div class="modal-content">
          <form class="flex-column" action="/results" method="POST">
            <label for="trip-name">Name of your trip</label>
            <input class="input" type="text" name="trip-name" placeholder="Trip to <%= country.country %>">
          </form>
        </div>
      </section>
>>>>>>> 75875757cb174f67ae799172148ef85b85aad2ce
  </main>
  <footer class="flex-column">
    <%- include('../partials/footer.ejs') %>
    <script src="../js/modal.js"></script>
  </footer>
</body>

</html>