<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <header class="flex-row">
    <%- include('../partials/header.ejs') %>
  </header>
  <main class="flex-column">
    <section class="main-content flex-column">
      <h2>Saved Trips</h2>
      <% trips.forEach( (trip, idx) => { %>
        <div class="flex-column trip">
          <h3 class="medium"><%= idx + 1 %> - <%= trip.name %></h3>
          <form action="/trips/<%= trip.trip_id %>" method="GET">
            <button class="button">GET DETAILS</button>
          </form>
        </div>
      <% }) %>
    </section>
  </main>
  <footer class="flex-column">
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>